html{
    width: 100%;
    height: 100%;
    background-image: url(/img/abeille.png);
    background-attachment:fixed;
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
}


.logo{
    border-radius: 50%;
    filter: drop-shadow(0.1em 0.1em 0.2em green);
    height: 300px;
    width: 300px;
}
header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navmenu{
    position: fixed;
    right: 0px;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
    background-color: rgba(251, 255, 252, 0.123);
    border-radius: 50% 0% 0% 50%;
    text-align: right;
    padding-right: 10px; 
    padding-top: 10px; 
    list-style-type: none;
}

.moi{
    color: white;
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 0.2em green;   
    font-size: 50px;
    text-align: center;
    font-family: 'Train One', cursive;
}
h2{
    margin-top: 0%;
    color: rgb(221, 206, 206);
    /*filter: drop-shadow(0.1em 0.1em 0.2em green);*/
}

ul{
    list-style-type: none;
    }
a{ 
     text-decoration:none; 
     color: whitesmoke;
}
a:hover{
        color: green;
}

p{
    color: white;
    font-size: 15px;
}
.picture{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    filter: drop-shadow(0.1em 0.1em 0.2em green);
}
.containerPerso{
    width: 70%;
    margin-left: 15%;
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: 8px 8px 8px rgba(0, 128, 0, 0.473);
    border-radius: 0% 0% 20% 0%;
}
.box1{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: 8px 8px 8px rgba(0, 128, 0, 0.473);
    border-radius: 0% 0% 0% 0%;
}
.box2{
    background-color: ;
    height: auto;
    width: 100%;
    padding-top: 0px;
    margin-left: 1%;
    
}
.box3{
    height: 100%;
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.box4{
        height: auto;
        width: auto;
}
.box5{
        /*background-color: brown;*/
        height: auto;
        width: auto;
        margin: 20px;
}

.boxCompetences{
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
}

.SkillBox {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}
#SkillBox img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}
.SkillBar {
    border-radius: 50px;
    width: 80%;
    height: 10px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 10px auto;
}
#Skill-HTML {
    border-radius: 50px;
    width: 60%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 10px;
    position: absolute;
    background-color: #64eae3;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 50%}
}
#Skill-CSS {
    border-radius: 50px;
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 50%;
    height: 10px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 50%}
}

#Skill-JS {
    border-radius: 50px;
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 30%;
    height: 10px;
    position: absolute;
    background-color: #2cc552;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 30%}
}

#Skill-PHP {
    border-radius: 50px;
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 30%;
    height: 10px;
    position: absolute;
    background-color: #ffffff;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}

#Skill-PHP {
    border-radius: 50px;
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 30%;
    height: 10px;
    position: absolute;
    background-color: #e92828f3;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}

#Skill-MYSQL {
    border-radius: 50px;
    animation: Animate-MYSQL 4s;
    -webkit-animation: Animate-MYSQL 4s;
    -moz-animation: Animate-MYSQL 4s;
    -o-animation: Animate-MYSQL 4s;
    width: 40%;
    height: 10px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-MYSQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-MYSQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-MYSQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-MYSQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}

#Skill-SQL {
    border-radius: 50px;
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 40%;
    height: 10px;
    position: absolute;
    background-color: #0ba54b;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 40%}
}

#Skill-WORD {
    border-radius: 50px;
    animation: Animate-WORD 4s;
    -webkit-animation: Animate-WORD 4s;
    -moz-animation: Animate-WORD 4s;
    -o-animation: Animate-WORD 4s;
    width: 65%;
    height: 10px;
    position: absolute;
    background-color: #1a72e6f3;
}
@keyframes Animate-WORD {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-WORD {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-moz-keyframes Animate-WORD {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-WORD {
    from {
    width: 10px;
}
to {
    width: 65%}
}
.Skill-Area {
    z-index: 1;
    text-shadow: none;
    color: #fff;
    font-size: 18px;
    width: 80px;
}
.PercentText {
    z-index: 3;
    position: relative;
    text-shadow: none;
    color: #fff;
    font-size: 18px;
}
input{
    border-radius: 10px;
    background-color: whitesmoke;
    border-style: none;
    height: 20px;
}
textarea{
    border-radius: 10px;
    background-color: whitesmoke;
    border-style: none;
}
label{
    color: whitesmoke;
}
.gloform{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: ;
}

.formulaire{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: ;
}

.boxForm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
    margin-top: 15px;
}
.coordonnee{
    width: 45%;
    height: 100%;
    background-color: ;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: ;
}
.boxcoord{
    width: 100%;
    margin-left: 50%;
    background-color:;
}

.portfolio{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.imgPortfolio{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

footer{
    height: 80px;
    width: 100%;
}
.classfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    
}
.txtfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}